@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.actions {
  @include dashboard-section('small');

  > label {
    margin-bottom: 1rem;
  }

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    > button {
      padding: 10px;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
