@import 'src/styles/_mixins.scss';
@import 'src/styles/_variables.scss';

.contacts {
  @include dashboard-section('small');

  > div:last-child {
    button {
      margin-bottom: 1rem;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
